<header>
	<h1>Skeleton Loading</h1>
</header>

<div class="button-area">
	<button onclick={{action "kickoffDataFetch"}}>Fetch Data</button>
</div>

<div class="main-layout">
	<main>
		<ContentFetcher @goFetchData={{this.goFetchData}} />

	</main>

	<aside>
		<ContentFetcher @goFetchData={{this.goFetchData}} />

	</aside>
</div>
